<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta
          name="viewport"
          content="width=device-width, initial-scale=1.0"
     >
     <title>Project - Admin</title>
     <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous"
     >
</head>

<body>
     <nav
          class="navbar bg-dark border-bottom border-body rounded mx-2"
          style="padding-left:6px;"
          data-bs-theme="dark"
     >
     
          <!-- Navbar content -->
          <button
               class="btn btn-outline-light rounded-circle "
               type="button"
               data-bs-toggle="offcanvas"
               data-bs-target="#staticBackdrop"
               aria-controls="staticBackdrop"
          >
               <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="25"
                    height="25"
                    fill="currentColor"
                    class="bi bi-caret-right-fill rounded-circle"
                    viewBox="0 0 16 16"
               >
                    <path
                         d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
               </svg>
          </button>
     
          <div
               class="offcanvas offcanvas-start bg-dark text-white"
               data-bs-backdrop="static"
               tabindex="-1"
               id="staticBackdrop"
               aria-labelledby="staticBackdropLabel"
          >
               <div class="offcanvas-header">
                    <img
                         src="../Pictures/Logo/logo-2.png"
                         alt="img"
                         style="height: 3rem;width: 6rem;border-radius: 3rem;"
                         class="rounded"
                    >
                    <h5
                         class="offcanvas-title"
                         id="staticBackdropLabel"
                         style="padding-right: 2rem;"
                    ><a
                              href='#'
                              class="text-white"
                              style="text-decoration:none"
                         >DefectMonitor</a></h5>
                    <button
                         type="button"
                         class="btn-close bg-white"
                         data-bs-dismiss="offcanvas"
                         aria-label="Close"
                    ></button>
               </div>
               <div class="offcanvas-body">
                    <ul>
                         <a
                              href="/"
                              style="text-decoration: none;"
                         >
                              <p style="font-size: larger;"><button
                                        class="btn btn-outline-light "
                                        style="border-radius: 10rem;"
                                   ><svg
                                             xmlns="http://www.w3.org/2000/svg"
                                             width="25"
                                             height="30"
                                             fill="currentColor"
                                             class="bi bi-house-door-fill"
                                             viewBox="0 0 16 16"
                                        >
                                             <path
                                                  d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z" />
                                        </svg></button>
                         </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Home
                         </p>
                         <p style="font-size: larger;">
                              <a
                                   href='/ProjectDetails'
                                   style="text-decoration:none"
                              ><button
                                        class="btn btn-outline-light "
                                        style="border-radius: 10rem;"
                                   >
                                        <svg
                                             xmlns="http://www.w3.org/2000/svg"
                                             width="30"
                                             height="30"
                                             fill="currentColor"
                                             class="bi bi-bug-fill"
                                             viewBox="0 0 16 16"
                                        >
                                             <path
                                                  d="M4.978.855a.5.5 0 1 0-.956.29l.41 1.352A4.985 4.985 0 0 0 3 6h10a4.985 4.985 0 0 0-1.432-3.503l.41-1.352a.5.5 0 1 0-.956-.29l-.291.956A4.978 4.978 0 0 0 8 1a4.979 4.979 0 0 0-2.731.811l-.29-.956z" />
                                             <path
                                                  d="M13 6v1H8.5v8.975A5 5 0 0 0 13 11h.5a.5.5 0 0 1 .5.5v.5a.5.5 0 1 0 1 0v-.5a1.5 1.5 0 0 0-1.5-1.5H13V9h1.5a.5.5 0 0 0 0-1H13V7h.5A1.5 1.5 0 0 0 15 5.5V5a.5.5 0 0 0-1 0v.5a.5.5 0 0 1-.5.5H13zm-5.5 9.975V7H3V6h-.5a.5.5 0 0 1-.5-.5V5a.5.5 0 0 0-1 0v.5A1.5 1.5 0 0 0 2.5 7H3v1H1.5a.5.5 0 0 0 0 1H3v1h-.5A1.5 1.5 0 0 0 1 11.5v.5a.5.5 0 1 0 1 0v-.5a.5.5 0 0 1 .5-.5H3a5 5 0 0 0 4.5 4.975z" />
                                        </svg>
                                   </button></a>
                              &nbsp;&nbsp;&nbsp;&nbsp;Project
                         </p>
                         <p style="font-size: larger;">
                              <a
                                   href="/logs"
                                   style="text-decoration: none;"
                              ><button
                                        class="btn btn-outline-light "
                                        style="border-radius: 10rem;"
                                   >
                                        <svg
                                             xmlns="http://www.w3.org/2000/svg"
                                             width="30"
                                             height="30"
                                             fill="currentColor"
                                             class="bi bi-database-fill"
                                             viewBox="0 0 16 16"
                                        >
                                             <path
                                                  d="M3.904 1.777C4.978 1.289 6.427 1 8 1s3.022.289 4.096.777C13.125 2.245 14 2.993 14 4s-.875 1.755-1.904 2.223C11.022 6.711 9.573 7 8 7s-3.022-.289-4.096-.777C2.875 5.755 2 5.007 2 4s.875-1.755 1.904-2.223Z" />
                                             <path
                                                  d="M2 6.161V7c0 1.007.875 1.755 1.904 2.223C4.978 9.71 6.427 10 8 10s3.022-.289 4.096-.777C13.125 8.755 14 8.007 14 7v-.839c-.457.432-1.004.751-1.49.972C11.278 7.693 9.682 8 8 8s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972Z" />
                                             <path
                                                  d="M2 9.161V10c0 1.007.875 1.755 1.904 2.223C4.978 12.711 6.427 13 8 13s3.022-.289 4.096-.777C13.125 11.755 14 11.007 14 10v-.839c-.457.432-1.004.751-1.49.972-1.232.56-2.828.867-4.51.867s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972Z" />
                                             <path
                                                  d="M2 12.161V13c0 1.007.875 1.755 1.904 2.223C4.978 15.711 6.427 16 8 16s3.022-.289 4.096-.777C13.125 14.755 14 14.007 14 13v-.839c-.457.432-1.004.751-1.49.972-1.232.56-2.828.867-4.51.867s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972Z" />
                                        </svg>
                                   </button></a>
                              &nbsp;&nbsp;&nbsp;&nbsp;Logs
                         </p>
                         <p style="font-size: larger;">
                              <a
                                   href="/notes"
                                   style="text-decoration: none;"
                              >
                                   <button
                                        class="btn btn-outline-light "
                                        style="border-radius: 10rem;"
                                   >
                                        <svg
                                             xmlns="http://www.w3.org/2000/svg"
                                             width="30"
                                             height="30"
                                             fill="currentColor"
                                             class="bi bi-sticky-fill"
                                             viewBox="0 0 16 16"
                                        >
                                             <path
                                                  d="M2.5 1A1.5 1.5 0 0 0 1 2.5v11A1.5 1.5 0 0 0 2.5 15h6.086a1.5 1.5 0 0 0 1.06-.44l4.915-4.914A1.5 1.5 0 0 0 15 8.586V2.5A1.5 1.5 0 0 0 13.5 1h-11zm6 8.5a1 1 0 0 1 1-1h4.396a.25.25 0 0 1 .177.427l-5.146 5.146a.25.25 0 0 1-.427-.177V9.5z" />
                                        </svg>
                                   </button></a>
                              &nbsp;&nbsp;&nbsp;&nbsp;Notes
                         </p>
                         <p style="font-size: larger;">
                              <a
                                   href="/help"
                                   style="text-decoration: none;"
                              ><button
                                        class="btn btn-outline-light "
                                        style="border-radius: 10rem;"
                                   >
                                        <svg
                                             xmlns="http://www.w3.org/2000/svg"
                                             width="30"
                                             height="30"
                                             fill="currentColor"
                                             class="bi bi-question-diamond-fill"
                                             viewBox="0 0 16 16"
                                        >
                                             <path
                                                  d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM5.495 6.033a.237.237 0 0 1-.24-.247C5.35 4.091 6.737 3.5 8.005 3.5c1.396 0 2.672.73 2.672 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.105a.25.25 0 0 1-.25.25h-.81a.25.25 0 0 1-.25-.246l-.004-.217c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.803 0-1.253.478-1.342 1.134-.018.137-.128.25-.266.25h-.825zm2.325 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z" />
                                        </svg>
                                   </button></a>
                              &nbsp;&nbsp;&nbsp;&nbsp;Help
                         </p>
                         <p style="font-size: larger;">
                              <a
                                   href="/contact"
                                   style="text-decoration: none;"
                              ><button
                                        class="btn btn-outline-light "
                                        style="border-radius: 10rem;"
                                   >
                                        <svg
                                             xmlns="http://www.w3.org/2000/svg"
                                             width="30"
                                             height="30"
                                             fill="currentColor"
                                             class="bi bi-envelope-at-fill"
                                             viewBox="0 0 16 16"
                                        >
                                             <path
                                                  d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z" />
                                             <path
                                                  d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034v.21Zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z" />
                                        </svg>
                                   </button></a>
                              &nbsp;&nbsp;&nbsp;&nbsp;Contact
                         </p>
                         <p style="font-size: larger;">
                              <a
                                   href="/setting"
                                   style="text-decoration: none;"
                              ><button
                                        class="btn btn-outline-light "
                                        style="border-radius: 10rem;"
                                   >
                                        <svg
                                             xmlns="http://www.w3.org/2000/svg"
                                             width="30"
                                             height="30"
                                             fill="currentColor"
                                             class="bi bi-gear-fill"
                                             viewBox="0 0 16 16"
                                        >
                                             <path
                                                  d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                                        </svg>
                                   </button></a>
                              &nbsp;&nbsp;&nbsp;&nbsp;Settings
                         </p>
                         <p style="font-size: larger;">
                              <a
                                   href="/profile"
                                   style="text-decoration: none;"
                              ><button
                                        class="btn btn-outline-light "
                                        style="border-radius: 10rem;"
                                   >
                                        <svg
                                             xmlns="http://www.w3.org/2000/svg"
                                             width="30"
                                             height="30"
                                             fill="currentColor"
                                             class="bi bi-person-fill"
                                             viewBox="0 0 16 16"
                                        >
                                             <path
                                                  d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                        </svg>
                                        </svg>
                                   </button></a>
                              &nbsp;&nbsp;&nbsp;&nbsp;Profile
                         </p>
                    </ul>
               </div>
          </div>
          <div class="container text-white">
               <marquee class="mx-5 fw-bold">Welcome to Defect Monitor system !</marquee>
          </div>
          <a href="/notification"><button
                    type="button"
                    class="btn btn-outline-light rounded notification_count notification-bell"
                    style="margin-right: 0.5rem"
               >
                    <svg
                         xmlns="http://www.w3.org/2000/svg"
                         width="16"
                         height="16"
                         fill="currentColor"
                         class="bi bi-bell-fill"
                         viewBox="0 0 16 16"
                    >
                         <path
                              d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" />
                    </svg>
                    6</button></a>
          <style>
               .notification_count {
                    top: -6px;
                    right: -6px;
                    animation: zoom 3s 3s both infinite;
               }
     
               .notification-bell {
                    animation: bell 1s 1s both infinite;
               }
     
               @keyframes bell {
                    0% {
                         transform: rotate(0);
                    }
     
                    10% {
                         transform: rotate(30deg);
                    }
     
                    20% {
                         transform: rotate(0);
                    }
     
                    80% {
                         transform: rotate(0);
                    }
     
                    90% {
                         transform: rotate(-30deg);
                    }
     
                    100% {
                         transform: rotate(0);
                    }
               }
     
               @keyframes rad {
                    0% {
                         transform: translateX(0);
                    }
     
                    10% {
                         transform: translateX(6px);
                    }
     
                    20% {
                         transform: translateX(0);
                    }
     
                    80% {
                         transform: translateX(0);
                    }
     
                    90% {
                         transform: translateX(-6px);
                    }
     
                    100% {
                         transform: translateX(0);
                    }
               }
     
               @keyframes zoom {
                    0% {
                         opacity: 0;
                         transform: scale(0);
                    }
     
                    10% {
                         opacity: 1;
                         transform: scale(1);
                    }
     
                    50% {
                         opacity: 1;
                    }
     
                    51% {
                         opacity: 0;
                    }
     
                    100% {
                         opacity: 0;
                    }
               }
     
               @keyframes moon-moving {
                    0% {
                         transform: translate(-200%, 600%);
                    }
     
                    100% {
                         transform: translate(800%, -200%);
                    }
               }
          </style>
     </nav>
     <!-- Main Content or Project Stats -->
     <div
          class=""
          style="display: flex;flex-direction: row;gap: 2rem;margin-top: 1rem;margin-left: 2rem;"
     >
          <h1>KubeHuddle</h1>
          <div
               class="d-grid grsap-2 d-md-block"
               style="padding-top: 0.5rem;padding-left: 12rem; margin-left: 15.5rem;"
          >
               <button
                    type="button"
                    class="btn btn-outline-primary text-dark border-black"
                    style="width:7rem;border-radius: 1rem;height: auto;"
                    data-bs-toggle="modal"
                    data-bs-target="#Stats"
               ><b>Stats</b></button>
               <!-- Modal -->
               <div
                    class="modal fade"
                    id="Stats"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
               >
                    <div class="modal-dialog">
                         <div class="modal-content">
                              <div class="modal-header">
                                   <h1
                                        class="modal-title fs-5"
                                        id="exampleModalLabel"
                                   >Stats for Project</h1>
                                   <button
                                        type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                   ></button>
                              </div>
                              <div class="modal-body">
                                   <ul>
                                        <li>
                                             <b>Total Number of Bugs:</b>12
                                        </li>
                                        <li>
                                             <b>Solved Number of Bugs:</b>2
                                        </li>
                                        <li>
                                             <b>Critical Number of Bugs:</b>5
                                        </li>

                                   </ul>
                              </div>
                              <div class="modal-footer">
                                   <button
                                        type="button"
                                        class="btn btn-secondary"
                                        data-bs-dismiss="modal"
                                   >Close</button>
                              </div>
                         </div>
                    </div>
               </div>
               <!-- Modal for stats ends -->
               <button
                    type="button"
                    class="btn btn-outline-primary"
                    style="width:7rem;border-radius: 1rem;height: auto;"
               ><svg
                         xmlns="http://www.w3.org/2000/svg"
                         width="25"
                         height="25"
                         fill="currentColor"
                         class="bi bi-chat-left-dots-fill text-black border-black"
                         viewBox="0 0 16 16"
                    >
                         <path
                              d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                    </svg></button>
               <button
                    class="btn btn-outline-primary"
                    style="width:7rem;border-radius: 1rem;height: auto;"
               >
                    <svg
                         xmlns="http://www.w3.org/2000/svg"
                         width="25"
                         height="25"
                         fill="currentColor"
                         class="bi bi-person-fill-add text-black border-black"
                         viewBox="0 0 16 16"
                    >
                         <path
                              d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                         <path
                              d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z" />
                    </svg>
               </button>
               <button
                    class="btn btn-outline-primary"
                    style="width:7rem;border-radius: 1rem;height: auto;"
               >
                    <svg
                         xmlns="http://www.w3.org/2000/svg"
                         width="25"
                         height="25"
                         fill="currentColor"
                         class="bi bi-database-fill text-black border-black"
                         viewBox="0 0 16 16"
                    >
                         <path
                              d="M3.904 1.777C4.978 1.289 6.427 1 8 1s3.022.289 4.096.777C13.125 2.245 14 2.993 14 4s-.875 1.755-1.904 2.223C11.022 6.711 9.573 7 8 7s-3.022-.289-4.096-.777C2.875 5.755 2 5.007 2 4s.875-1.755 1.904-2.223Z" />
                         <path
                              d="M2 6.161V7c0 1.007.875 1.755 1.904 2.223C4.978 9.71 6.427 10 8 10s3.022-.289 4.096-.777C13.125 8.755 14 8.007 14 7v-.839c-.457.432-1.004.751-1.49.972C11.278 7.693 9.682 8 8 8s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972Z" />
                         <path
                              d="M2 9.161V10c0 1.007.875 1.755 1.904 2.223C4.978 12.711 6.427 13 8 13s3.022-.289 4.096-.777C13.125 11.755 14 11.007 14 10v-.839c-.457.432-1.004.751-1.49.972-1.232.56-2.828.867-4.51.867s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972Z" />
                         <path
                              d="M2 12.161V13c0 1.007.875 1.755 1.904 2.223C4.978 15.711 6.427 16 8 16s3.022-.289 4.096-.777C13.125 14.755 14 14.007 14 13v-.839c-.457.432-1.004.751-1.49.972-1.232.56-2.828.867-4.51.867s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972Z" />
                    </svg>
               </button>
               <a href="/notes" style="text-decoration: none;"><button
                    class="btn btn-outline-primary"
                    style="width:7rem;border-radius: 1rem;height: auto;"
               >
                    <svg
                         xmlns="http://www.w3.org/2000/svg"
                         width="30"
                         height="30"
                         fill="currentColor"
                         class="bi bi-sticky-fill text-black border-black"
                         viewBox="0 0 16 16"
                    >
                         <path
                              d="M2.5 1A1.5 1.5 0 0 0 1 2.5v11A1.5 1.5 0 0 0 2.5 15h6.086a1.5 1.5 0 0 0 1.06-.44l4.915-4.914A1.5 1.5 0 0 0 15 8.586V2.5A1.5 1.5 0 0 0 13.5 1h-11zm6 8.5a1 1 0 0 1 1-1h4.396a.25.25 0 0 1 .177.427l-5.146 5.146a.25.25 0 0 1-.427-.177V9.5z" />
                    </svg>
               </button></a>
          </div>

     </div>
     <!-- Now Core part  -->
     <div class="container text-center">
          <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
               <div class="col">
                    <div class="p-3">
                         <!-- row1 -->
                         <div
                              class="card"
                              style="width: 18rem"
                         >
                              <div class="card-body">
                                   <h5
                                        class="card-title text-bg-dark p-3"
                                        style="border-radius: 1rem;"
                                   >Bug Reported</h5>
                                   <hr>
                                   <p class="card-text">
                                        <b>Description:</b><br />This section Contains all the bugs that are reported.
                                   </p>
                              </div>
                              <ul class="list-group list-group-flush">
                                   <li class="list-group-item">
                                        <b>Bug1</b> <br>
                                        <b>Date of Creation:</b>27/07/2023 <br>
                                        <b>Description:</b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, maiores.
                                        <br>
                                        <b>Users:</b> A1 B45<br>
                                        <b>Level:</b>Critical<br>
                                        <br>
                                        <a href="/workPhase" style="text-decoration: none;"><button class="btn btn-outline-primary">More</button></a>
                                   </li>
                                   <li class="list-group-item"><b>Total Number of Bugs:</b>12</li>
                                   <li class="list-group-item"><b>Total Number of people:</b>5</li>
                              </ul>
                              <div class="card-body">
                                   <button class="btn btn-outline-primary">Add Bugs</button>
                              </div>
                         </div>
                    </div>
               </div>
               <!-- row-1 ends -->
               <div
                    class="col"
                    style="margin-left: 5rem;"
               >
                    <div class="p-3">
                         <div
                              class="card"
                              style="width: 18rem"
                         >
                              <div class="card-body">
                                   <h5
                                        class="card-title text-bg-dark p-3"
                                        style="border-radius: 1rem;"
                                   >Working Phase</h5>
                                   <p class="card-text">
                                        <b>Description:</b><br />This section will contain the bugs which are currently
                                        being on.
                                   </p>
                              </div>
                              <ul class="list-group list-group-flush">
                                   <li class="list-group-item">
                                        <b>Bug1</b> <br>
                                        <b>Date of Acceptance:</b>28/07/2023 <br>
                                   </li>
                                   <li class="list-group-item"><b>Total Number of Bugs being worked on:</b>1</li>
                                   <li class="list-group-item"><b>Total Number of people:</b>2</li>
                              </ul>
                         </div>
                    </div>
               </div>
               <!-- card-3 -->
               <div
                    class="col"
                    style="margin-left: 5rem;"
               >
                    <div class="p-3">
                         <div
                              class="card"
                              style="width: 18rem"
                         >
                              <div class="card-body">
                                   <h5
                                        class="card-title text-bg-dark p-3"
                                        style="border-radius: 1rem;"
                                   >Review</h5>
                                   <p class="card-text">
                                        <b>Description:</b><br />This section will contain the bugs which are left to
                                        review.
                                   </p>
                              </div>
                              <ul class="list-group list-group-flush">
                                   <li class="list-group-item">
                                        <b>Bug1</b> <br>
                                        <b>Date of creation:</b>27/07/2023 <br>
                                        <b>Date of Acceptance:</b>28/07/2023 <br>
                                        <b>Solution:</b>Link<br>
                                        <button class="btn btn-outline-success">Solved</button>
                                   </li>
                                   <li class="list-group-item"><b>Total Number of Bugs being worked on:</b>1</li>
                                   <li class="list-group-item"><b>Total Number of people:</b>2</li>
                              </ul>
                         </div>
                    </div>
               </div>
               <!-- card-3 end -->
          </div>
     </div>
     <!-- Core part Ends -->
     <!-- Footer Starts Here  -->
     <hr>
     <!-- For footer  -->
     <div
          class="container"
          id="hrefcontactus"
     >
          <div class="container">
               <footer class="py-5">
                    <div class="row">
                         <div class="col-6 col-md-2 mb-3">
                              <h5>Section</h5>
                              <ul class="nav flex-column">
                                   <li class="nav-item mb-2"><a
                                             href="#"
                                             class="nav-link p-0 text-muted"
                                        >Home</a></li>
                                   <li class="nav-item mb-2"><a
                                             href="#"
                                             class="nav-link p-0 text-muted"
                                        >Features</a></li>
                                   <li class="nav-item mb-2"><a
                                             href="#"
                                             class="nav-link p-0 text-muted"
                                        >Pricing</a></li>
                                   <li class="nav-item mb-2"><a
                                             href="#"
                                             class="nav-link p-0 text-muted"
                                        >FAQs</a></li>
                                   <li class="nav-item mb-2"><a
                                             href="#"
                                             class="nav-link p-0 text-muted"
                                        >About</a></li>
                              </ul>
                         </div>

                         <div class="col-6 col-md-2 mb-3">
                              <h5>Creators</h5>
                              <ul class="nav flex-column">
                                   <li class="nav-item mb-2"><a
                                             href="#"
                                             class="nav-link p-0 text-muted"
                                        >Ayush Naik</a></li>
                                   <li class="nav-item mb-2"><a
                                             href="#"
                                             class="nav-link p-0 text-muted"
                                        >Parmesh Bhat</a></li>
                                   <li class="nav-item mb-2"><a
                                             href="#"
                                             class="nav-link p-0 text-muted"
                                        >Rinkal Mav</a></li>
                                   <li class="nav-item mb-2"><a
                                             href="#"
                                             class="nav-link p-0 text-muted"
                                        >Contact Us</a></li>
                              </ul>
                         </div>

                         <div class="col-md-5 offset-md-1 mb-3">
                              <form>
                                   <h5>Subscribe to our newsletter</h5>
                                   <p>Monthly digest of what's new and exciting from us.</p>
                                   <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                                        <label
                                             for="newsletter1"
                                             class="visually-hidden"
                                        >Email address</label>
                                        <input
                                             id="newsletter1"
                                             type="text"
                                             class="form-control"
                                             placeholder="Email address"
                                        >
                                        <button
                                             class="btn btn-primary"
                                             type="button"
                                        >Subscribe</button>
                                   </div>
                              </form>
                         </div>
                    </div>

                    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                         <p>© 2023 Company, Inc. All rights reserved.</p>
                         <ul class="list-unstyled d-flex">
                              <li class="ms-3"><a
                                        class="link-dark"
                                        href="#"
                                   ><svg
                                             class="bi"
                                             width="24"
                                             height="24"
                                        >
                                             <use xlink:href="#twitter"></use>
                                        </svg></a></li>
                              <li class="ms-3"><a
                                        class="link-dark"
                                        href="#"
                                   ><svg
                                             class="bi"
                                             width="24"
                                             height="24"
                                        >
                                             <use xlink:href="#instagram"></use>
                                        </svg></a></li>
                              <li class="ms-3"><a
                                        class="link-dark"
                                        href="#"
                                   ><svg
                                             class="bi"
                                             width="24"
                                             height="24"
                                        >
                                             <use xlink:href="#facebook"></use>
                                        </svg></a></li>
                         </ul>
                    </div>
               </footer>
          </div>
     </div>
     <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
          crossorigin="anonymous"
     ></script>
</body>

</html>