<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>DefectMonitor</title>
</head>
<style>
     form{
          text-align: center;
          padding: auto;
          margin: auto;
          align-items: center;
          margin-top:14rem;
          padding-left: 0.5rem;
          padding-top: 0.5rem;
          padding-right: 0.5rem;
          padding-bottom: 0.5rem;
          background-color: aquamarine;
          margin-left: 20rem;
          margin-right: 20rem;
          border-radius: 2%;
          font-size: large;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          
     }
     .email_input, .password_input{
          padding: 5px;
          border-radius: 0.5rem;
     }
</style>
<body>
     <form
     action="/forgotpassword"
     method="post"
     >
     <h2><u><b>Forgot Password!</b></u></h2>
               <div class="mb-3">
                    <label
                         for="exampleFormControlInput1"
                         class="form-label fw-bold text-light"
                    >Email: </label>
                    <input
                         type="email"
                         class="form-control email_input"
                         id="exampleFormControlInput1"
                         placeholder="name@example.com"
                         required
                         name="Email"
                    >
               </div>
               <div class="md-3">
                    <label
                         for="inputPassword5"
                         class="form-label fw-bold text-light"
                    >Username</label>
                    <input
                         type="text"
                         id="inputPassword5"
                         class="form-control password_input"
                         aria-describedby="passwordHelpBlock"
                         required
                         placeholder="Username"
                         name="Password"
                    >
               </div>
     </>
     <div class="modal-footer">
          <a href="/"><button
               type="button"
               class="btn btn-secondary"
               data-bs-dismiss="modal"
          >Close</button></a>
          <button
               type="submit"
               class="btn btn-primary"
          >Login</button>
     </div>
     </form>
     </div>
     </div>
</body>
</html>